{% extends 'smrm/base.html' %}

{% block content %}
    <div class="trash-header" align="center">New Trash</div>

    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_ul }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock content %}