{% extends 'smrm/base.html' %}

{% block content %}

<div class="trash-header" align="center">New Task</div>

<form method="POST" class="post-form">
    {% csrf_token %}
    {{ form.as_ul }}
    <label>Files:</label>
    <div id="jstree"></div>
    <input type="hidden" id="files" name="files">
    <button type="submit" class="save btn btn-default" id="but">Save</button>
</form>


<script type="text/javascript">
    var json_tree = {{json_tree|safe}}
    $('#jstree').jstree({
        "core" :{
            "data" : json_tree
        },
        "checkbox" : {
            "keep_selected_style" : false
        },
        "types" : {
            "file" : { icon: "glyphicon glyphicon-file"}
        },
        "plugins" : ["checkbox", "types"]});

    $('#but').on('click', function() {
    var jstree = document.getElementById("jstree");
    var selected_files = $('#jstree').jstree('get_top_selected');
    $('#files').val(JSON.stringify(selected_files));
    });
</script>

{% endblock content %}