{% extends 'smrm/base.html' %}

{% block content %}

    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Path</th>
              <th>Date created</th>
              <th>Policy</th>
              <th>Tasks</th>
            </tr>
          </thead>
          <tbody>
              {% for trash in trashes %}
                <tr>
                  <td><a href="{% url 'trash' trash.id %}">{{trash.name}}</a></td>
                  <td>{{trash.path}}</td>
                  <td>{{trash.time_created}}</td>
                  <td>{{trash.policy}}</td>
                  <td>{{trash.task_set.count}}</td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock content %}