{% extends 'smrm/base.html' %}

{% block content %}

    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date created</th>
              <th>Status</th>
              <th>Trash</th>
            </tr>
          </thead>
          <tbody>
              {% for task in tasks %}
                <tr>
                  <td><a href="{% url 'task' task.id %}">{{task.name}}</a></td>
                  <td>{{task.time_created}}</td>
                  <td>{{task.status}}</td>
                    <td><a href="{% url 'trash' task.trash.id %}">{{task.trash.name}}</a></td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock content %}