{% extends 'smrm/base.html' %}

{% block content %}
    <div class="trash-header" align="center">{{task.name}}</div>

    <div class="row">
        <div class="col-md-2">Name:</div>
        <div class="col-md-10">{{task.name}}</div>
        <div class="col-md-2">Date created:</div>
        <div class="col-md-10">{{task.time_created}}</div>
        <div class="col-md-2">Status:</div>
        <div class="col-md-10">{{task.status}}</div>
        {% if task.status == 'Error' %}
        <div class="col-md-2">Error Message:</div>
        <div class="col-md-10">Error : {{task.error_message}}</div>
        {% endif %}
        <div class="col-md-2">Dry run:</div>
        <div class="col-md-10">{{task.dry_run}}</div>
        {% if task.regex %}
            <div class="col-md-2">Regex:</div>
            <div class="col-md-10">{{task.regex}}</div>
        {% endif %}
      </div>

    <div class="trash-header" align="center">Files:</div>

    <ul class="list-group">
          {% for file in files %}
           <div class="list-group-item">{{file.path}}</div>
          {% endfor %}
    </ul>

     <form action="#" method="GET">
        {% if task.status == 'Ready' %}
        <input type="submit" name="run" class="btn-default" value="Run"/>
        <input type="submit" name="delete" class="btn-default" value="Delete"/>
        {% endif %}
        {% if task.status == 'OK' %}
        <input type="submit" name="restore" class="btn-default" value="Restore"/>
        <input type="submit" name="delete" class="btn-default" value="Delete"/>
        {% endif %}
        {% if task.status == 'Error' %}
        <input type="submit" name="delete" class="btn-default" value="Delete"/>
        {% endif %}
    </form>

    {% if task.status == 'OK' %}
    <div class="trash-header" align="center">Deleted files:</div>
    <ul class="list-group">
          {% for file in operation.files %}
           <div class="list-group-item">{{file.abspath}}</div>
          {% endfor %}
    </ul>
    {% endif %}

{% endblock content %}
