{% extends 'smrm/base.html' %}

{% block content %}
    <div class="trash-header" align="center">{{trash.name}}</div>

    <div class="row">
        <div class="col-md-2">Name:</div>
        <div class="col-md-10">{{trash.name}}</div>
        <div class="col-md-2">Path:</div>
        <div class="col-md-10">{{trash.path}}</div>
        <div class="col-md-2">Date created:</div>
        <div class="col-md-10">{{trash.time_created}}</div>
        <div class="col-md-2">Restore policy:</div>
        <div class="col-md-10">{{trash.policy}}</div>
        {% if trash.auto_deletion %}
            <div class="col-md-2">Auto-deletion:</div>
            <div class="col-md-10">{{trash.auto_deletion}}</div>
            {% if trash.auto_space > 0 %}
                 <div class="col-md-2">Auto-deletion max size:</div>
                 <div class="col-md-10">{{trash.auto_space}}</div>
            {% endif %}
            {% if trash.auto_time > 0 %}
                 <div class="col-md-2">Auto-deletion time:</div>
                 <div class="col-md-10">{{trash.auto_time}}</div>
            {% endif %}
        {% else %}
            <div class="col-md-2">Auto-deletion:</div>
            <div class="col-md-10">False</div>
        {% endif %}
      </div>

    <div class="trash-header" align="center">Tasks:</div>

    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date created</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
              {% for task in tasks %}
                <tr>
                  <td><a href="{% url 'task' task.id %}">{{task.name}}</a></td>
                  <td>{{task.time_created}}</td>
                  <td>{{task.status}}</td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>

     <div class="trash-header" align="center">Files in trash:</div>

     <div class="table-responsive">
        <table class="table table-striped">
        <tbody>
            {% for file in trash.trash_files %}
                <tr>
                <td>{{file}}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
     </div>

    <form action="#" method="GET">
        <input type="submit" name="edit" class="btn-default" value="Edit"/>
        <input type="submit" name="clear" class="btn-default" value="Clear"/>
        <input type="submit" name="delete" class="btn-default" value="Delete"/>
    </form>

{% endblock content %}