body {
  padding-top: 50px;
}

.navbar-static-top {
  margin-bottom: 19px;
  border: 0;
}

.trash-header {
  font-size: 16pt;
  alignment: center;
  background-color: #dddddd;
}

[class*="col-"] {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}